
header {
    background-color: var(--ct-color-bg-tertiary);
    height: 70px;
}

header h1 {
    color: var(--ct-color-bg-primary);
    font-size: 24px;
    padding: 24px;
    width: 162px;
    height: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 600px;

}
