

.ct-comentario {
    background-color: var(--ct-color-bg-primary);
    width: 960px;
    height: 74px;
    border-radius: 12px;
    border: 1px solid var(--ct-color-bg-tertiary);
    margin-left: 250px;
    margin-top: 25px;
   
}   

.ct-comentario p {
    margin-top: 15px;
    padding: 10px;
    color: var(--ct-color-bg-tertiary);
    font-size: 16px;
    width: 812px;
    height: 24px;
}